{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}


{% block content %}

<link rel="stylesheet" href="{% static 'css/homestyles.css' %}">
    <h1 align="center">Welcome to the Unicorn Attractor application</h1></br>
        <p align="center">This application uses an Issue Tracker that allows users to create a ticket describing any
            issue related to using the Unicorn Attractor. The tickets come in two varieties;</br>
        <p align="center"><a href="{% url 'tracker' %}">bugs</a> and <a href="{% url 'features' %}">features</a></p></br>
        <p align="center">Users can create bugs for free, but need to log in to create features.</p>
{% endblock %}
